@model IEnumerable<SISCO.CapaDatos.ViewModels.OrdenViewModel>

@{
    ViewBag.Title = "Mis Ordenes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center p-2">@ViewBag.Title</h2>
<hr />

<div>
    <table class="table table-striped table-bordered p-3" width="100%">

        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.OrdenId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Provincia)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Canton)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Direccion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaCreacion)
                </th>
                <th colspan="3">
                    Acción
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrdenId)
                    </td>
                    <td> @Html.DisplayFor(modelItem => item.Provincia)</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Canton)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Direccion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Estado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaCreacion)
                    </td>
                    <td>
                        @Html.ActionLink("Ver más detalles", "Detalle", new { id = item.OrdenId }, new { @class = "btn btn-primary" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

