@model SISCO.CapaDatos.ViewModels.ProductoViewModel
@using SISCO.CapaDatos.ViewModels

@{
    ViewBag.Title = "Editar Producto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center p-2">@ViewBag.Title</h2>
<hr />

<div class="container-fluid">
    @using (Html.BeginForm("Editar", "Producto", FormMethod.Post))
    {
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Proveedor, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Proveedor.Id, ViewData["listaProveedor"] as SelectList, "Selecciona el proveedor", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Proveedor.Id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Activo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Activo, new SelectList(
                new List<Object>
                {
                    new { value = "Inactivo", text = "Inactivo"},
                    new { value = "Activo", text = "Activo"}
                },
                "value",
                "text",
                Model.Activo
            ), "Selecciona el estado", new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Precio, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Precio, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Precio, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Editar" class="btn btn-success" />
            </div>
        </div>
    }
</div>

<div class="align-self-center">
    @Html.ActionLink("Regresar", "Lista", new { area = "" }, new { @class = "btn btn-primary mb-2" })
</div>