@using System.Security.Claims;

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "" }))
    {
        @Html.AntiForgeryToken()

        <li class="nav-item dropdown">
            <a class="list-group-item d-inline-block w-100" href="#" id="usuarioInfoDropDown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Bienvenido @(((ClaimsIdentity)User.Identity).FindFirst("FullName").Value)!
            </a>
            <div class="dropdown-menu" aria-labelledby="usuarioInfoDropDown">
                <a class="dropdown-item" href="#">Editar Perfil</a>
                @Html.ActionLink("Cambiar contraseña", "ChangePassword", "Manage", "", new { @class = "dropdown-item" })
                <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a>
            </div>
        </li>
    }
}
else
{
    <div class="row">
        <div class="col-6 p-0">
            @Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "list-group-item d-inline-block w-100 text-center" })
        </div>
        <div class="col-6 p-0">
            @Html.ActionLink("Iniciar Sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "list-group-item d-inline-block w-100 text-center" })
        </div>
    </div>
}
