@using SISCO.Web.Models
@model LoginViewModel
@{
    Layout = null;
}


<!doctype html>
<html lang="es">
<head>
    <title>SISCO</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5">
        <div class="card contenedorPrincipal border-0">
            <div class="row">
                <div class="col-lg-6">
                    <img src="~/Content/images/imagenLogin.jpg" class="image">
                </div>

                <div class="col-lg-6">
                    <div class="border-0 px-4 py-5">
                        <div class="row mb-4 px-3">
                            <h1 class="mb-0 mr-4 mt-2">Bienvenido a SISCO</h1>
                        </div>
                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(m => m.RememberMe)
                                        @Html.LabelFor(m => m.RememberMe)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Acceder" class="btn btn-primary" />
                                </div>
                            </div>
                            <p>
                                <div class="row mb-4 px-3"> <small class="font-weight-bold">No tienes cuenta? @Html.ActionLink("Regístrate", "Register", "", new { @class = "text-danger" })</small> </div>

                            </p>
                        }
                    </div>
                </div>
            </div>

            <div class="bg-blue py-3">
                <div class="row">
                    <small class="ml-4 ml-sm-5 mb-2">SISCO &copy; 2021. Proyecto Programación Avanzada.</small>
                </div>
            </div>
        </div>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>
</html>
